*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}
caption{
    font-weight: bold;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
    justify-content: center;
    color: dodgerblue;
}