*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 101%;
    height: 101%;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}
.logo {
    font-size: 1.8rem;
}
.logo span {
    color: firebrick;
}
.header {
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: cornflowerblue;
    color: dodgerblue;
}
.nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0 23px;
}
.nav ul li a {
    text-decoration: none;
    color: dodgerblue;
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: capitalize;
}
.btn {
    background-color: firebrick;
    color: white;
    padding: 13px 31px;
    border-radius: 25px;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
}
.btn:hover {
    background-color: white;
    color: dodgerblue;
    border: 2px solid firebrick;
}