* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 52.5%;
  font-family: sans-serif;
  background-color: #dcdc;
}
header {
  height: 70px;
  width: 100%;
  background-color: #131a1f;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
}
header a {
  color: #fff;
  text-decoration: none;
  padding: 0 1rem;
}
header ul {
  display: flex;
  list-style: none;
}
.logo {
  background-color: #dcdc;
  color: #131a1f;
  padding: 9px 29px;
  border-radius: 1px;
  border: none;
  margin-left: 10px;
  font-size: 2rem;
  font-family: "Impact";
}

/* footer {
  margin-left:   10px;
  background-color: #333;
  padding: 10px 300px;
  border: nome;
  box-sizing: border-box;

}
footer p{
  text-align: center;
  margin: 0 5px;

} */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 9px 29px;
  border-radius: 1px;
}

footer ul {
  display: flex;
  text-align: center;
  
}

footer a{
  color: #fff;
  padding: 6px;
  list-style: none;
}

.card-img{
  margin-top: 50px;
  font-size: 40px;
}

